.app-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.1);
}